@page "/ManageCollection/{CollectionId}"
@attribute [Authorize]

@using System.Collections.ObjectModel
@using Microsoft.AspNetCore.Authorization
@using CineSync.Components.Layout
@using CineSync.Components.Buttons
@using CineSync.Components.Movies
@using CineSync.Components.PopUps


@rendermode InteractiveServer


<PageLayout
    @ref="@_pageLayout"
    GetInstance="GetPagelayout">

    @{ Initialize(); }


    <CascadingValue Name="PageLayout" Value="_pageLayout" TValue="PageLayout">

        <div class="main-content">
            @if (_inicialized && ((_visit && Collection.IsPublic) || !_visit))
            {
                <div class="content">

                    <div class="Subtilte">
                        <div>
                           @( _visit ? @Collection.ApplicationUser.UserName + " "+ @Collection.Name : @Collection.Name )
                        </div>
                        @if (!_visit)
                        {
                            <div class="toggle-button">
                                <ToggleButton OnChange="OnChangePublic" InitialState="Collection.IsPublic"/>

                                @if (!DefaultCollection.Contains(Collection.Name))
                                {
                                    <button class="EditName" data-toggle="modal" data-target="#POPUPINPUT">Edit Name</button>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="d-flex ml-auto mr-5">
                                @if (!_follows)
                                {
                                    <RectButton1 Text="Follow" OnClick="() => { FollowCollection(); }"/>
                                }
                                else
                                {
                                    <RectButton1 Text="UnFollow" OnClick="() => { UnFollowCollection(); }"/>
                                }
                            </div>
                        }
                    </div>

                    @if (!_visit)
                    {
                        <PopUpInput Tilte="Change Collection Name" Question="Insert new name" PlaceHolder="New collection name" OnSave="OnChangeName"></PopUpInput>
                    }

                    <ManagerCollectionMovies AuthenticatedUser="AuthenticatedUser" Collection="Collection"></ManagerCollectionMovies>

                </div>
            }
            else if ((_visit && !Collection.IsPublic) || _isInvalid)
            {
                <div class="p-2 w-100 h-100 d-flex justify-content-center align-items-center">
                    <div class="Fade d-flex align-items-center justify-content-center text-center">
                        <span class="text-white display-5 user-select-none">The content you are trying to access is unavailable.</span>
                    </div>
                </div>
            }
            else
            {
                <Loading></Loading>
            }
        </div>

    </CascadingValue>

</PageLayout>