@page "/MovieDetails/{MovieId:int}"
@using CineSync.Components.Navs
@using CineSync.Components.Utils
@using CineSync.Data.Models

<div class="page-main-Conteiner">

	@if(Movie != null)
	{
		<div class="top-content">

			<div class="conteiner-left">

				<div >
					@if ( Movie.PosterImage != null )
					{
						<img id="PosterImage" src="@(ImageConverter.ConverBytesTo64(Movie.PosterImage))" class="movie-pic">
					}
					else
					{
						<img id="PosterImage" src="NoPoster.png" class="movie-pic">
					}
				</div>

				<div class="movie-image-options-conteiner">

					<div class="buttonTreiler">
						Trailer
					</div>

					<div class="movie-image-options-item-rigth">

						<div class="button-AddToFavorite">
							@if (!InFavourites)
							{
								<svg width="30" height="30" viewBox="0 0 30 30" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
									<path d="M13.1772 27.487L13.1765 27.4863C9.30484 23.6599 6.12918 20.5168 3.91564 17.5651C1.70855 14.6221 0.5 11.9227 0.5 8.99183C0.5 4.17542 3.94523 0.5 8.25 0.5C10.6921 0.5 13.0576 1.74201 14.6072 3.70988L15 4.20873L15.3928 3.70988C16.9424 1.74201 19.3079 0.5 21.75 0.5C26.0548 0.5 29.5 4.17542 29.5 8.99183C29.5 11.9227 28.2914 14.6221 26.0844 17.5651C23.8708 20.5168 20.6952 23.6599 16.8235 27.4863L16.8228 27.487L15 29.2956L13.1772 27.487Z" fill="currentcolor" stroke="currentcolor" />
								</svg>
							}
							else
							{
								<svg width="64px" height="64px" viewBox="-3.2 -3.2 38.40 38.40" enable-background="new 0 0 32 32" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
									<g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="6.4"> <g id="Home"></g> <g id="Print"></g> <g id="Mail"></g> <g id="Camera"></g> <g id="Video"></g> <g id="Film"></g> <g id="Message"></g> <g id="Telephone"></g> <g id="User"></g> <g id="File"></g> <g id="Folder"></g> <g id="Map"></g> <g id="Download"></g> <g id="Upload"></g> <g id="Video_Recorder"></g> <g id="Schedule"></g> <g id="Cart"></g> <g id="Setting"></g> <g id="Search"></g> <g id="Pencils"></g> <g id="Group"></g> <g id="Record"></g> <g id="Headphone"></g> <g id="Music_Player"></g> <g id="Sound_On"></g> <g id="Sound_Off"></g> <g id="Lock"></g> <g id="Lock_open"></g> <g id="Love"> <path d="M29.5,4.5C27.8,2.3,25.3,1,22.7,1c-2.6,0-5.1,1.3-6.7,3.5C14.4,2.3,11.9,1,9.3,1C6.7,1,4.2,2.3,2.5,4.5 c-1.9,2.6-2,6.4-0.3,9.3c0,0,0,0.1,0.1,0.1l12.9,16.6c0.2,0.3,0.5,0.4,0.8,0.4s0.6-0.1,0.8-0.4L29.7,14c0,0,0-0.1,0.1-0.1 C31.5,11,31.4,7.1,29.5,4.5z" fill="#E92662"></path> </g> <g id="Favorite"></g> <g id="Film_1_"></g> <g id="Music"></g> <g id="Puzzle"></g> <g id="Turn_Off"></g> <g id="Book"></g> <g id="Save"></g> <g id="Reload"></g> <g id="Trash"></g> <g id="Tag"></g> <g id="Link"></g> <g id="Like"></g> <g id="Bad"></g> <g id="Gallery"></g> <g id="Add"></g> <g id="Close"></g> <g id="Forward"></g> <g id="Back"></g> <g id="Buy"></g> <g id="Mac"></g> <g id="Laptop"></g> </g><g id="SVGRepo_iconCarrier"> <g id="Home"></g> <g id="Print"></g> <g id="Mail"></g> <g id="Camera"></g> <g id="Video"></g> <g id="Film"></g> <g id="Message"></g> <g id="Telephone"></g> <g id="User"></g> <g id="File"></g> <g id="Folder"></g> <g id="Map"></g> <g id="Download"></g> <g id="Upload"></g> <g id="Video_Recorder"></g> <g id="Schedule"></g> <g id="Cart"></g> <g id="Setting"></g> <g id="Search"></g> <g id="Pencils"></g> <g id="Group"></g> <g id="Record"></g> <g id="Headphone"></g> <g id="Music_Player"></g> <g id="Sound_On"></g> <g id="Sound_Off"></g> <g id="Lock"></g> <g id="Lock_open"></g> <g id="Love"> <path d="M29.5,4.5C27.8,2.3,25.3,1,22.7,1c-2.6,0-5.1,1.3-6.7,3.5C14.4,2.3,11.9,1,9.3,1C6.7,1,4.2,2.3,2.5,4.5 c-1.9,2.6-2,6.4-0.3,9.3c0,0,0,0.1,0.1,0.1l12.9,16.6c0.2,0.3,0.5,0.4,0.8,0.4s0.6-0.1,0.8-0.4L29.7,14c0,0,0-0.1,0.1-0.1 C31.5,11,31.4,7.1,29.5,4.5z" fill="#E92662"></path> </g> <g id="Favorite"></g> <g id="Film_1_"></g> <g id="Music"></g> <g id="Puzzle"></g> <g id="Turn_Off"></g> <g id="Book"></g> <g id="Save"></g> <g id="Reload"></g> <g id="Trash"></g> <g id="Tag"></g> <g id="Link"></g> <g id="Like"></g> <g id="Bad"></g> <g id="Gallery"></g> <g id="Add"></g> <g id="Close"></g> <g id="Forward"></g> <g id="Back"></g> <g id="Buy"></g> <g id="Mac"></g> <g id="Laptop"></g> </g>
								</svg>
							}
						</div>

						<div class="button-AddToViewed">
							@if (InViewed)
							{
								<svg class="itemsize" width="40" height="40" viewBox="0 0 40 40" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
									<path d="M38.675 19.575C37.2048 15.7721 34.6524 12.4833 31.3335 10.1151C28.0145 7.74694 24.0743 6.40322 20 6.25C15.9256 6.40322 11.9854 7.74694 8.66646 10.1151C5.34748 12.4833 2.79516 15.7721 1.32496 19.575C1.22567 19.8496 1.22567 20.1504 1.32496 20.425C2.79516 24.2279 5.34748 27.5167 8.66646 29.8849C11.9854 32.2531 15.9256 33.5968 20 33.75C24.0743 33.5968 28.0145 32.2531 31.3335 29.8849C34.6524 27.5167 37.2048 24.2279 38.675 20.425C38.7743 20.1504 38.7743 19.8496 38.675 19.575ZM20 31.25C13.375 31.25 6.37496 26.3375 3.83746 20C6.37496 13.6625 13.375 8.75 20 8.75C26.625 8.75 33.625 13.6625 36.1625 20C33.625 26.3375 26.625 31.25 20 31.25Z"  />
									<path d="M20 12.5C18.5166 12.5 17.0666 12.9399 15.8332 13.764C14.5999 14.5881 13.6386 15.7594 13.0709 17.1299C12.5032 18.5003 12.3547 20.0083 12.6441 21.4632C12.9335 22.918 13.6478 24.2544 14.6967 25.3033C15.7456 26.3522 17.082 27.0665 18.5368 27.3559C19.9917 27.6453 21.4997 27.4968 22.8701 26.9291C24.2406 26.3614 25.4119 25.4001 26.236 24.1668C27.0601 22.9334 27.5 21.4834 27.5 20C27.5 18.0109 26.7098 16.1032 25.3033 14.6967C23.8968 13.2902 21.9891 12.5 20 12.5ZM20 25C19.0111 25 18.0444 24.7068 17.2222 24.1573C16.3999 23.6079 15.759 22.827 15.3806 21.9134C15.0022 20.9998 14.9032 19.9945 15.0961 19.0245C15.289 18.0546 15.7652 17.1637 16.4645 16.4645C17.1637 15.7652 18.0546 15.289 19.0246 15.0961C19.9945 14.9031 20.9998 15.0022 21.9134 15.3806C22.8271 15.759 23.6079 16.3999 24.1574 17.2221C24.7068 18.0444 25 19.0111 25 20C25 21.3261 24.4732 22.5979 23.5355 23.5355C22.5979 24.4732 21.3261 25 20 25Z"/>
								</svg>
							}
							else
							{
								<svg class="itemsize"  width="44" height="41" viewBox="0 0 44 41" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M37.6384 7.73869C37.8813 7.49581 38.0135 7.17456 38.0072 6.84263C38.0009 6.5107 37.8566 6.194 37.6047 5.95925C37.3528 5.72451 37.0129 5.59004 36.6567 5.58418C36.3004 5.57833 35.9557 5.70154 35.695 5.92786L6.3617 33.2612C6.22661 33.3785 6.11826 33.5199 6.04311 33.6771C5.96795 33.8343 5.92754 34.0039 5.92429 34.176C5.92103 34.348 5.95499 34.5189 6.02415 34.6784C6.0933 34.838 6.19623 34.9829 6.3268 35.1045C6.45737 35.2262 6.6129 35.3221 6.78411 35.3866C6.95532 35.451 7.13871 35.4827 7.32333 35.4796C7.50795 35.4766 7.69003 35.4389 7.85869 35.3689C8.02736 35.2989 8.17916 35.1979 8.30504 35.072L13.5245 30.2084C16.0307 31.3086 18.9145 32.0312 22 32.0312C26.9207 32.0312 31.3317 30.1913 34.5034 27.9226C36.0929 26.7866 37.4055 25.519 38.3332 24.2736C39.2352 23.0624 39.875 21.7351 39.875 20.4999C39.875 19.2648 39.2334 17.9374 38.3332 16.7262C37.4055 15.4809 36.0929 14.215 34.5052 13.0772C34.023 12.7339 33.5152 12.399 32.9799 12.0813L37.6384 7.73869ZM30.9834 13.9417L27.7365 16.9671C28.6119 18.199 29.0034 19.6751 28.8446 21.1451C28.6859 22.6152 27.9867 23.9889 26.8655 25.0337C25.7443 26.0784 24.2701 26.7299 22.6924 26.8779C21.1148 27.0258 19.5308 26.661 18.2087 25.8453L15.6109 28.2643C17.637 29.047 19.8068 29.456 22 29.4687C26.1929 29.4687 30.03 27.8919 32.8295 25.8897C34.2265 24.8904 35.3302 23.809 36.0745 22.813C36.8427 21.7812 37.125 20.9731 37.125 20.4999C37.125 20.0267 36.8427 19.2187 36.0745 18.1869C35.3302 17.1909 34.2265 16.1095 32.8295 15.1102C32.2557 14.7002 31.6397 14.3072 30.9834 13.9417ZM20.2199 23.9696C20.9896 24.3121 21.8544 24.4239 22.6951 24.2895C23.5359 24.1551 24.3112 23.7811 24.9144 23.219C25.5176 22.657 25.9189 21.9345 26.0632 21.1511C26.2074 20.3677 26.0875 19.5618 25.7199 18.8446L20.2199 23.9696Z" fill="currentcolor" />
									<path d="M22 8.96875C23.892 8.96875 25.7107 9.24208 27.4102 9.70504C27.4846 9.72573 27.5519 9.76418 27.6054 9.81658C27.659 9.86899 27.6969 9.93352 27.7154 10.0038C27.734 10.0741 27.7324 10.1476 27.7111 10.2172C27.6897 10.2867 27.6491 10.3499 27.5935 10.4003L26.0828 11.8097C26.0268 11.8616 25.9575 11.8993 25.8815 11.9193C25.8055 11.9393 25.7252 11.941 25.6483 11.9242C24.452 11.6653 23.2281 11.5335 22 11.5313C17.8072 11.5313 13.97 13.108 11.1705 15.1102C9.7735 16.1096 8.66983 17.191 7.9255 18.1869C7.15733 19.2188 6.875 20.0268 6.875 20.5C6.875 20.9732 7.15733 21.7813 7.9255 22.8131C8.5745 23.6843 9.4985 24.6188 10.6535 25.5071C10.8662 25.6694 10.8863 25.9684 10.6902 26.1512L9.39217 27.3624C9.31267 27.4375 9.20575 27.482 9.09264 27.4871C8.97954 27.4922 8.86853 27.4574 8.78167 27.3897C7.60131 26.4827 6.55406 25.4351 5.66683 24.2737C4.76667 23.0625 4.125 21.7351 4.125 20.5C4.125 19.2649 4.76667 17.9375 5.66683 16.7263C6.5945 15.4809 7.90717 14.215 9.49483 13.0773C12.6683 10.8086 17.0793 8.96875 22 8.96875Z" fill="currentcolor" />
									<path d="M22.0001 14.0938C22.2165 14.0938 22.4328 14.1023 22.6436 14.1211C23.0048 14.1535 23.1349 14.555 22.8801 14.7942L20.6563 16.8647C20.0641 17.0554 19.5262 17.3691 19.0832 17.7819C18.6401 18.1948 18.3035 18.696 18.0988 19.2478L15.8768 21.32C15.6201 21.5592 15.1893 21.4362 15.1545 21.0996C15.0649 20.2116 15.1752 19.316 15.4785 18.4701C15.7818 17.6241 16.2714 16.8465 16.9158 16.187C17.5602 15.5275 18.3453 15.0007 19.2208 14.6402C20.0963 14.2798 21.043 14.0936 22.0001 14.0938Z" fill="currentcolor" />
								</svg>
							}
						</div>

						<div class="button-AddToCollection" data-toggle="modal" data-target="#AddCollection">
							<svg class="itemsize button-AddToCollectionSpace" width="31" height="31" viewBox="0 0 31 31" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_307_2441)">
									<path d="M21.3125 21.3125H17.4375V23.25H21.3125V27.125H23.25V23.25H27.125V21.3125H23.25V17.4375H21.3125V21.3125ZM15.0311 17.4375C16.1224 15.8052 17.7326 14.589 19.6012 13.9859C21.4697 13.3828 23.4872 13.4281 25.3268 14.1144C27.1664 14.8007 28.7205 16.0878 29.7375 17.7674C30.7544 19.447 31.1747 21.4207 30.9302 23.3689C30.6857 25.3171 29.7908 27.1257 28.3903 28.5019C26.9898 29.8781 25.1659 30.7413 23.2137 30.9517C21.2615 31.1621 19.2955 30.7075 17.6339 29.6613C15.9724 28.6152 14.7126 27.0388 14.0585 25.1875H11.625V23.25H13.6148C13.472 21.9413 13.6243 20.6172 14.0604 19.375H11.625V17.4375H15.0311ZM3.875 7.75V5.8125H7.75V7.75H3.875ZM11.625 7.75V5.8125H27.125V7.75H11.625ZM11.625 13.5625V11.625H27.125V13.5625H11.625ZM3.875 13.5625V11.625H7.75V13.5625H3.875ZM3.875 19.375V17.4375H7.75V19.375H3.875ZM3.875 25.1875V23.25H7.75V25.1875H3.875Z" fill="currentcolor" />
								</g>
								<defs>
									<clipPath id="clip0_307_2441">
										<rect width="31" height="31" fill="currentcolor" />
									</clipPath>
								</defs>
							</svg>
						</div>

					</div>

				</div>

			</div>

			<div clss="conteiner-rigth">

				<div class="movie-Title">
					@Movie.Title
				</div>

				<div class="movie-statistics">
					<div class="movie-statistics-item" >
						<div class="movie-statistics-item-key">Release Date:</div><div class="movie-statistics-item-value">@Movie.ReleaseDate.ToString("yyyy-MM-dd")</div>
					</div>
					<div class="movie-statistics-item">
						<div class="movie-statistics-item-key">Duration:</div><div class="movie-statistics-item-value">@Movie.RunTime min</div>
					</div>
				</div>

				<div class="movie-Plot">
					@Movie.Overview
				</div>

				@if (Movie.Genres != null && Movie.Genres.Count != 0)
				{
					<div class="movie-genres">
						<div class="movie-genres-key">Genres:</div>
						<div class="movie-genres-value">
							@for (int i = 0; i < @Movie.Genres.Count() - 1; i++)
							{
								@($"{@Movie.Genres.ElementAt(i).Name}, ")
							}
							@($"{@Movie.Genres.Last().Name}")
						</div>
					</div>
				}

				@if (Movie.Cast != null && Movie.Cast.Count != 0)
				{
					<div class="movie-cast">
						<div class="movie-genres-key">Cast:</div>
						<div class="movie-genres-value">
							@for (int i = 0; i < @Movie.Cast.Count() - 1; i++)
							{
								@($"{@Movie.Cast.ElementAt(i)}, ")
							}
							@($"{@Movie.Cast.Last()}")

						</div>
					</div>
				}


				<div class="rating-conteinor">

					<div class="rating-item">
						<div class="font-rating">IMDB</div>
						<div class="font-rating-result">@((float)Math.Round(Movie.Rating, 1))</div>
						<div class="rating-icon">
							<svg id="IMDBRating" width="10" height="10" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon--star-inline" viewBox="0 0 24 24" fill="yellow" role="presentation"><path d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg>
						</div>
					</div>

					<div class="rating-item">
						<div class="font-rating">CS</div>
						<div class="font-rating-result">@((float)Math.Round(Movie.RatingCS, 1))</div>
						<div class="rating-icon">
							<img class="CsRating" src="CsRating.png" alt="Alternate Text" />
						</div>
					</div>

					<div class="ButtonRatingitem-container">
						<button class="ButtonRatingitem" data-toggle="modal" data-target="#exampleModal"> Rate Movie</button>
						<CineSync.Components.PopUps.Classification></CineSync.Components.PopUps.Classification>
					</div>

				</div>

			</div>

		</div>


		<div class="Comments-content">

		</div>
	}
	else
	{

	}

</div>

