@page "/Search/{Query?}"
@rendermode InteractiveServer

@using CineSync.Components.Movies;
@using CineSync.Components.Buttons;
@using CineSync.Components.Layout;
@using CineSync.Core.Adapters.ApiAdapters;

<PageLayout
	@ref="@_pageLayout"
	GetInstance="GetPagelayout"
	HasSearch=false
>

	<div class="main-container">

		<div class="search-container">
			<SearchButton @ref="SearchButton" SearchInput="@Query"></SearchButton>
		</div>

		<div class="scrool-comteiner">

			<div class="search-container-shadow"></div>

			@if (SearchResults.Count != 0)
			{
				<div class="results-container">

					@foreach (MovieSearchAdapter movie in SearchResults)
					{
						<div @onclick="(e) => MovieClickhandler(movie)" >
							<MovieAdapterPlace  Movie=movie />
						</div>
					}

					@if (!_isLastpage)
					{
						<div class="MoreResults-container">
							<button class="MoreResults" @onclick="(e)=>{LoadNextPageMovies();}">More Results</button>
						</div>
					}

				</div>
			}
			else
			{
				<div class="no-results-found-container @_isLoading">

					<div class="no-results-found-text">
						<div>
							Sorry, we could not find any results for "@_currentSearchQuery".
						</div>
					</div>

					<div class="no-results-found-icon-container">
						<img id="no-results-found-icon" src="SoryNotFound.png" alt="Sory imoji" />
					</div>

				</div>

			}

		</div>

		<div class="Loading-container @_isLoading">
			<Loading />
		</div>

	</div>
    <script>
        function updateUrl(query) {
            const newUrl = new URL(window.location);
            newUrl.pathname = `/Search/${query}`;
            window.history.pushState({}, '', newUrl);
        }
    </script>
</PageLayout>
