
<div class="tabs-conteiner" style="@Background_Style">

    @for (int i = 0; i < TabNames.Length; i++ )
    {
        int indice = i;
        @if (i == ActiveTab)
        {
            @* TabButtons[_activeTab].deactivate();
            _activeTab=indice;
            OnTabChange( TabNames[indice] ); *@
            <TabButton 
                Text="@TabNames[indice]"
                StartActive=true
                OnActionClick="@(() => { ChangeTab(indice); })" @ref=@(TabButtons[indice]) 
                FontSize="@FontSize"
            />
        }
        else
        {
            @* TabButtons[_activeTab].deactivate();
            _activeTab=indice;
            OnTabChange( TabNames[indice] ); *@
            <TabButton 
                Text="@TabNames[indice]"
                StartActive=false
                OnActionClick="@(() => { ChangeTab(indice); })" @ref=@(TabButtons[indice])
                FontSize="@FontSize" 
            />
        }
    }

</div>
