@rendermode InteractiveServer

@using CineSync.Components.PopUps;
@using CineSync.Components.Utils;
@using CineSync.Components.Utils.Authorization;
@using CineSync.Components.Buttons;
@using CineSync.Data.Models;
@using CineSync.Components.Layout

<RoleCkeck AuthenticatedUserRoles="@AuthenticatedUserRoles" Roles="@( new string[] { "user","moderador","admin","super_admin" } )">
	<PassOneCheck>
    <div class="comment-section">
        <h4>Add a Comment</h4>
        <textarea @bind="comment.Content"></textarea>
        <div class="input-container">
            <label class="file-input-button" for="file-upload">
                <img id="attachment" src="AttachmentIcon.png" alt="Attach" />
            </label>
            <InputFile id="file-upload" class="file-input" OnChange="HandleFileSelected" multiple accept="image/*" style="display:none" />
            <button type="submit" @onclick="HandleSubmit">Comment</button>
        </div>
        @foreach ( string ErrorMessage in ErrorMessages)
        {
            <p class="error">@ErrorMessage</p>
        }
        @foreach ( var kvp in selectedFilesWithPreviews )
        {
            <div class="selected-file">
                Selected file: @kvp.Key.Name
                <img src="@( ImageConverter.ConverBytesTo64( kvp.Value ) )" alt="@kvp.Key.Name" />
                <div class="hover-button" data-toggle="modal" data-target="#RemoveFormAttachmentModal_@kvp.Key.GetHashCode()">
                    <svg class="svg-size" viewBox="0 0 31 31" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.79552 13.8865C9.43386 13.8865 9.08702 14.0301 8.83128 14.2859C8.57555 14.5416 8.43188 14.8885 8.43188 15.2501C8.43188 15.6118 8.57555 15.9586 8.83128 16.2143C9.08702 16.4701 9.43386 16.6137 9.79552 16.6137H20.7046C21.0663 16.6137 21.4131 16.4701 21.6688 16.2143C21.9246 15.9586 22.0682 15.6118 22.0682 15.2501C22.0682 14.8885 21.9246 14.5416 21.6688 14.2859C21.4131 14.0301 21.0663 13.8865 20.7046 13.8865H9.79552Z" fill="currentcolor" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M30.25 15.25C30.25 23.5341 23.5341 30.25 15.25 30.25C6.96591 30.25 0.25 23.5341 0.25 15.25C0.25 6.96591 6.96591 0.25 15.25 0.25C23.5341 0.25 30.25 6.96591 30.25 15.25ZM27.5227 15.25C27.5227 16.8617 27.2053 18.4576 26.5885 19.9466C25.9718 21.4356 25.0678 22.7885 23.9281 23.9281C22.7885 25.0678 21.4356 25.9718 19.9466 26.5885C18.4576 27.2053 16.8617 27.5227 15.25 27.5227C13.6383 27.5227 12.0424 27.2053 10.5534 26.5885C9.06443 25.9718 7.7115 25.0678 6.57187 23.9281C5.43224 22.7885 4.52824 21.4356 3.91148 19.9466C3.29472 18.4576 2.97727 16.8617 2.97727 15.25C2.97727 11.9951 4.27029 8.87345 6.57187 6.57187C8.87345 4.27029 11.9951 2.97727 15.25 2.97727C18.5049 2.97727 21.6265 4.27029 23.9281 6.57187C26.2297 8.87345 27.5227 11.9951 27.5227 15.25Z" fill="currentcolor" />
                    </svg>
                </div>
                <RemoveAttachment KeyHash="@kvp.Key.GetHashCode()" OnRemove="RemoveAttachment" />
            </div>
        }
    </div>
    </PassOneCheck>
</RoleCkeck>

<div class="comments-done">

    @if (CommentsList == null)
    {
        <CineSync.Components.Layout.Loading></CineSync.Components.Layout.Loading>
    }
    else if (CommentsList.Count == 0)
    {
        <div class="nocomments">There is no comments at this time.</div>
    }
    else
    {
        @foreach (var comment in CommentsList)
        {
            <ItemComment
                Comment="@comment"
                OnChange="() => { InvokeAsync(StateHasChanged); }"
                Liked="@( LikedComments.Any( uLike => uLike.CommentId == comment.Id ) )"
                DisLiked="@( DislikedComments.Any( uDisLike => uDisLike.CommentId == comment.Id ) )"
                LikedComments="@LikedComments"
                DislikedComments="@DislikedComments"
            >
            </ItemComment>
        }
    }

</div>

