@rendermode InteractiveServer

@using CineSync.Components.PopUps;
@using CineSync.Components.Utils;
@using CineSync.Components.Utils.Authorization;
@using CineSync.Components.Buttons;
@using CineSync.Data.Models;
@using CineSync.Components.Layout

<RoleCkeck AuthenticatedUserRoles="@AuthenticatedUserRoles" Roles="@( new string[] { "user","moderador","admin","super_admin" } )">
	<PassOneCheck>
        <div class="container-comment">
            <div class="title-containor">
                <div>Add a Comment</div>
            </div>
            <NewComment @ref="@_newComment"></NewComment>
            <div class="title-containor">
                <RectColoredButton Text="Add Comment" OnClick="HandleSubmit"></RectColoredButton>
            </div>
        </div>
    </PassOneCheck>
</RoleCkeck>

<div class="comments-done">

    @if (CommentsList == null)
    {
        <CineSync.Components.Layout.Loading></CineSync.Components.Layout.Loading>
    }
    else if (CommentsList.Count == 0)
    {
        <div class="nocomments">There are no Comments yet.</div>
    }
    else
    {
        @foreach (var comment in CommentsList)
        {
            <ItemComment
                Comment="@comment"
                OnChange="() => { InvokeAsync(StateHasChanged); }"
                LikedComments="@LikedComments"
                DislikedComments="@DislikedComments"
            >
            </ItemComment>
        }
    }

</div>

