@using CineSync.Components.Layout
@using CineSync.Components.Buttons
@using CineSync.Components.Utils;

<PopUpLayout Id="@_id" @ref="@_popUpLayout">
	<Header>
		<div class="file-title">File:</div>
		<div class="file-name">@Name</div>
	</Header>
	<Body>
		<div class="image-container">
			@if(Attachment != null)
			{
				<img class="attachment" src="@( ImageConverter.ConverBytesTo64( Attachment ) )" alt="@Name" />
			}
			else
			{
				<Loading 
					FontPalceHeight="20"
					FontSize="18"
					LineHeight="30"
					LetterSpacing="0"
					MarginLeterLine="5"
					MaxWidth="120">
				 </Loading>
			}
		</div>
	</Body>
	<Footer>
		<RectButton2 Text="Close" DataDismiss="modal"></RectButton2>
	</Footer>
</PopUpLayout>

