@using CineSync.Components.Account.Component
@using CineSync.Components.Buttons
@using CineSync.Components.Layout
@using CineSync.Components.Envites
@using CineSync.Data.Models;

<div class="converssation-container" >
	
	@if( _isloading )
	{
		<Loading 
			FontPalceHeight="20"
			FontSize="18"
			LineHeight="30"
			LetterSpacing="0"
			MarginLeterLine="5"
			MaxWidth="120"
		>
		</Loading>
	}
	else
	{
		<div class="top-container">
			<ItemUser 
				User="@UserToSend"
				Short=false
				Style="width:50px; height:50px;"
			>
			</ItemUser>
		</div>

		<div class="content-container">

			<dvi class="hover-container">

				<div class="notifications-container">

					@if (Conversation.Participants.Count < 2 )
					{
						<div class="notification">
							<div class="notification-title">
								<span style="font-weight:600">@UserToSend.UserName</span>have not accepted your invite yet."
							</div>
							<div>
								@foreach (Invite invite in Conversation.Invites)
								{
									<ItemEnvite
										Authenticateduser="AuthenticatedUser"
										Invite="@invite"
										OnRemove="(e)=>{}"
										ShowUser="false"
										AllowCancel="false"
									>
									</ItemEnvite>

									if ( invite.State == InviteStates.DECLINED )
									{
										<div class="invie-buttons-options">
											<RectButton2 
												Text="Remove Message"
												OnClick="RemoveMessage"
											></RectButton2>
											<RectButton1 
												Text="Resend Invite"
												OnClick="() => {ResendInvite(invite);}"
											></RectButton1>
										</div>
									}

								}
							</div>
						</div>

						
					}
					else if( Conversation.Participants.Count != 2 )
					{
						<div class="notification">
							<div class="">
								You are the only one in here.
							</div>
							<div>
								@if ( Conversation.Messages.Any(m => m.Autor.Equals(UserToSend) ) )
								{
									@($"{UserToSend.UserName} has left this conversation.")
								}
								else
								{
									@($"{UserToSend.UserName} has rejected the invite.")
								}
							</div>
						</div>
					}

				</div>

			</dvi>

			<div class="messages">

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget pulvinar purus. Pellentesque vulputate sapien eget odio mollis, in congue dui pharetra. Mauris libero ipsum, dictum eget elit non, aliquam pellentesque ex. Mauris nec iaculis odio. Sed finibus vulputate ex, non porta diam. Quisque risus nisl, interdum ut sagittis sit amet, tincidunt at libero. Nam vel ex elementum leo bibendum tincidunt ac sed mi. Morbi nec felis consectetur, tempor eros sed, imperdiet est. Nullam aliquet, leo eget vulputate semper, quam libero tempor enim, a gravida justo tortor nec odio. Quisque non porttitor erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod faucibus magna, sed tincidunt orci varius et.

				Etiam eu urna orci. Duis vel felis nec mi tempus eleifend id nec leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Integer orci metus, ultrices eget facilisis sit amet, egestas in velit. Donec laoreet magna ut tristique fringilla. Nunc vel hendrerit lorem. Aliquam vehicula, metus a tristique mattis, metus ipsum accumsan tellus, et rhoncus augue eros et odio. Donec tempus sollicitudin finibus. Morbi semper felis sit amet metus feugiat molestie. Donec pulvinar, dolor eget porta fermentum, sem lorem pellentesque nisl, at feugiat dolor felis consectetur erat. Nunc nec porttitor nibh. Donec in odio eu nisl dapibus pretium sit amet id sem.

				Nam lacinia, ligula eu interdum cursus, sapien neque semper purus, eget convallis est elit quis nibh. Vivamus odio nisi, maximus ut nibh in, tempus sodales diam. Aliquam consequat nulla id ex dignissim, vel malesuada ligula lacinia. Maecenas luctus orci sapien, dictum lacinia odio vehicula id. Etiam mollis molestie venenatis. Aliquam faucibus molestie nisl a rhoncus. Proin at gravida nisi.

				placerat sed. Mauris malesuada commodo metus ut cursus. Donec non feugiat enim. In ullamcorper tincidunt consectetur. Donec quis tincidunt erat. Vestibulum dignissim et lectus ac ultricies. Duis vel finibus felis. Phasellus molestie placerat nisi vel finibus. Nunc in felis nisl.
			
				@foreach( Message message in Conversation.Messages )
				{
					<div style="z-index:0;">
						message.Id;
					</div>
				}
			</div>

		</div>

		<div class="new-message">
			<NewMessage>

			</NewMessage>
		</div>
	}

</div>